main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
h1 {
  text-align: center;
}
h2{ 
  text-align: center;
}
p {
  text-align: center;
}
img {
  margin-inline: auto;
  display: block;
}
h3 {
  text-align: left;
}
ul {
  display: block;
  text-align: center;
  border: 1px solid;
}
.container {
  max-width: 800px;
  margin-inline: auto;
}
a {
  text-align: center;
}
body{
  background-color: pink;
  background:repeating-conic-gradient(
  red 0%,
  rgba(183, 0, 255, 0.336) 15%,
  red 33%
);
}
nav {
  display: grid;
  grid-auto-flow: column;
}
a[href="/"] {
	text-align: right;
	width: 100%;
	display: inline-block;
}